.header {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 2px solid #e0e0e0;

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;

    @media (min-width: 768px) {
      justify-content: space-between;
    }
    @media (min-width: 1024px) {
      justify-content: left;
      padding-top: 80px;
      padding-left: 50px;
      border-bottom: none;
    }
  }

  .navLink {
    margin: 0 1rem;
    text-decoration: none;
    color: #000;

    &:hover {
      color: #555;
    }
  }
  nav {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    position: relative;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: center;
      width: 100%;
      justify-content: flex-start;
    }

    .userContainer {
      position: absolute;
      top: 50px;
      right: 0;
      display: flex;
      align-items: center;
      gap: 10px;
      z-index: 3;

      @media (min-width: 768px) {
        top: 55px;
        right: 0;
      }
      @media (min-width: 1024px) {
        top: 0;
        right: 0;
      }
    }

    hr {
      height: 25px;
      background-color: #e0e0e0;
    }
    .diaryCalculatorContainer {
      display: flex;
      gap: 10px;

      @media (min-width: 1024px) {
        display: flex;
        gap: 20px;
      }
    }
    .navLink {
      margin: 0 1rem;
      text-decoration: none;
      color: #9b9faa;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: right;
      margin: 0;

      @media (min-width: 768px) {
      }

      &:hover {
        color: #555;
      }
    }
    .activeNavLink {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: right;
      color: #212121;
      text-decoration: none;
      margin: 0;
    }
    .navButton {
      background: none;
      border: none;
      color: #000;
      cursor: pointer;
      padding: 0;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.04em;
      color: #9b9faa;

      &:hover {
        color: #555;
      }
    }
    @media (min-width: 1024px) {
      margin-top: 40px;
      margin-left: 20px;
      border-left: 1px solid #e0e0e0;
    }
  }
}
