.logincontainer {
  display: flex;
  align-items: center;
  width: 100%;
  @media (min-width: 768px) {
    background-image: url("../src/assets/home.webp");
    background-size: cover;
    background-position-x: right;
    background-size: 980px 820px; /* Setează dimensiunile imaginii de fundal */
    background-repeat: no-repeat;
  }
  @media (min-width: 1240px) {
    background-image: url("../src/assets/home.webp"),
      url("../src/assets/vector.webp");
  }
}
