.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modalContent {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  width: 95%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    width: 692px;
    height: 572px;
    padding: 1.1rem;
  }

  @media (min-width: 1024px) {
    max-width: 600px;
    width: 95%;
  }

  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    color: #212121;
    margin-top: 25px;

    @media (min-width: 768px) {
      font-weight: 700;
      font-size: 26px;
      line-height: 1.4;
      text-align: center;
      margin-top: 50px;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #264061;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  hr {
    height: 1px;
    width: 90%;
    color: rgb(38, 64, 97, 10);
  }
  h4 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #212121;
  }

  ul,
  ol {
    padding-left: 1.5rem;
    margin-bottom: 1.25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    list-style-position: inside;
  }

  li {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #9b9faa;
    margin-bottom: 0.3125rem;
    translate: -10px;
  }

  .closeButton {
    position: absolute;
    top: 5px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    width: 10px;
    height: 10px;
    box-shadow: none;
    padding: 0;

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  button {
    background: #ff6b08;
    border: none;
    color: white;
    border-radius: 30px;
    padding: 13px 49px;
    width: 210px;
    height: 43px;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0 4px 10px 0 rgba(252, 132, 45, 0.5);
    background: #fc842d;
    margin-bottom: 100px;

    @media (min-width: 768px) {
      padding: 0.75rem 1.5rem;
      margin-bottom: 50px;
    }
  }
}
