html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex: 1;
    padding: 0;
  }
}
